/* police pour les titres et sous titres*/
@font-face {
    font-family: FredokaOne; 
    src: url("../font/FredokaOne-Regular.ttf"); 
}

/* police pour tous les textes de hello meteo*/
@font-face {
    font-family: Lexend; 
    src: url("../font/Lexend-VariableFont_wght.ttf"); 
}

/* style général des balises */
body{
    color:white;
    background-color: #4F339E;
    font-family: Lexend;
    display: flex;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    text-align: center;
}

main{
    display : flex;
    flex-direction: column;
    width: 100%;
}

footer {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form{
    border: solid white 0.3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 12px 0 12px;
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin : 5px 0 0 0;
}

figcaption{
    display:none;
}

a{
    color : white;
    text-decoration: none;
}
input {
    color : #FBFF3C;
    font-family: Lexend;
    font-size: 12pt;
}

textarea {
    resize: none;
    font-family: Lexend;
    font-size: 12pt;
  }

/* par ID */

#today {
    display : flex;
    flex-direction: column;
    border :solid white 0.3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.8rem;
}

#formp p span input, #formp p span textarea {
    border:none;
    border-bottom : 2px solid white;
    padding : 5 px;
    outline : none;
    background-color: #4F339E;
}
#formp {
    display : flex;
    flex-direction:column;
    align-items: center;
}
#formp p{
    text-align: center;
    font-size :14pt;
}

#mss {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 260 px;
    outline: none;
    border-radius: 10px;
}

#validform{
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    padding : 10px;
}

#validform button {
    width: 50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    background: none;
    border-radius: 50px;
    outline: none;
    border:none;
}

#valid:hover {
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
}
#reset:hover {
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
}

#validform button img{
    border-radius: 30px;
}

#weather{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#theHours{
    width: 135px;
}

#weather img{
    width: 80px;
    height: auto;
    margin:0.2rem;
}

#date{
    background-color: #370E60;
    padding: 0.6rem;
    border-radius: 0.8rem;
}

#hour {
    font-size: 2rem;
}

#weather div{
    margin:0.2rem;
}

#town{
    font-size:x-large;
    font-family: FredokaOne;
}

#sunrise{
    color:#B67DFF;
}
#sunset{
    color:#B67DFF;
}

#theSaint {
    font-size: 1rem;
    margin: 0.7rem;
    padding: 0.5rem;
    border-top : solid #8f45cc 0.2rem;
    border-bottom: solid #8f45cc 0.2rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#theSaint p{
    margin:0;
}
#saint{
    font-size:1.5rem;
    font-family: FredokaOne;
}

#theTemp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#minMoyMax{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#minMoyMax p{
   margin:0;
   font-size: 0.9rem;
}


#nextDays {
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content: space-between;
    color : #AE74E8;
}
#nextDays fieldset {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    border : solid #AE74E8 0.2rem;
    border-radius: 0.7rem;
    width:40%;
    margin: 5px;
    padding: 0;
}
#nextDays div {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    font-size: 1.2rem;
}
#nextDays img {
    width: 40px;
    height: 40px;
    margin : 5px 0 10px 0;
}
#nextDays p {
    background-color: #8f45cc;
    border-radius: 0.5rem;
    margin : 5px 0 5px 0;
    padding: 5px;
    color :white;
    font-weight: bold;
}
#contact {
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #370E60;
    color:#AE74E8;
    height: 30px;
    text-align: center; 
    border :solid 0.2rem #AE74E8;
    border-radius: 0.7rem;
    width: 95%;  
    align-self : center; 
}
#contact:hover {
    background-color: #AE74E8;
    color: #370E60;
    border :solid 0.2rem #370E60;
}
#currentTemp {
    background-color:#8f45cc;
    font-weight: bolder;
    font-size: 2rem;
    padding: 0.3rem;
    margin-right: 0.8rem;
    border-radius: 0.6rem;
}

/* classes */

.aide {
    display: none;
}
.show {
    display: inline-block;
}
.nameColor {
    color:#f7f479;
}
.mailColor {
    color:#FBFF3C;
}
.subjectColor {
    color:#f0ae20;
}
.mssColor {
    color:#370E60;;
}

/* pseudo-classe*/

::placeholder{
    color: rgba(255, 255, 255, 0.6);
}


