/* police pour les titres et sous titres*/
@font-face {
    font-family: FredokaOne-Regular; 
    src: url("../font/FredokaOne-Regular.ttf"); 
}

/* police pour tous les textes de hello meteo*/
@font-face {
    font-family: Lexend; 
    src: url("../font/Lexend-VariableFont_wght.ttf"); 
}

/* style général des balises */
body{
    color:white;
    background-color: #4F339E;
    font-family: Lexend;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 270 px;
}

main{
    display : flex;
    flex-direction: column;
    width: 270px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form{
    border: solid white 0.3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 12px 0 12px;
}

figcaption{
    display:none;
}

a{
    color : white;
    text-decoration: none;
}
input {
    color : #FBFF3C;
    font-family: Lexend;
    font-size: 12pt;
}

textarea {
    resize: none;
    font-family: Lexend;
    font-size: 12pt;
  }

/* par ID */

#today {
    display : flex;
    flex-direction: column;
    width: 270px;
    border :solid white 0.3rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#formp p span input, #formp p span textarea {
    border:none;
    border-bottom : 2px solid white;
    padding : 5 px;
    outline : none;
    background-color: #4F339E;
}
#formp {
    display : flex;
    flex-direction:column;
    align-items: center;
}
#formp p{
    text-align: center;
    font-size :14pt;
}

#mss {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 260 px;
    outline: none;
    border-radius: 10px;
}

#validform{
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    padding : 10px;
}

#validform button {
    width: 50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    background: none;
    border-radius: 50px;
    outline: none;
    border:none;
}


#valid:hover {
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
}
#reset:hover {
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
}
#reset:active {
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #f0ae20 104.54%);
}

#validform button img{
    border-radius: 30px;
}


/* classes */

.aide {
    display: none;
}
.show {
    display: inline-block;
}
.nameColor {
    color:#f7f479;
}
.mailColor {
    color:#FBFF3C;
}
.subjectColor {
    color:#f0ae20;
}
.mssColor {
    color:#370E60;;
}

/* pseudo-classe*/

::placeholder{
    color: rgba(255, 255, 255, 0.6);
}


